* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9a051;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    text-align: center;
    align-content: center;
    max-width: 500px;
}

form {
    display: flex;
}

.search-input {
    width: 150%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-input:focus {
    border-color: #007BFF;
}

.search-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #0056b3;
}
